<!--Footer-->
    
<footer class="footer-copyright pd-t-50 pd-b-30">
    <div class="container">
        <div class="row">
            <div class="footer-info text-center">
                <img src="assets/images/logo.png" alt="" class="img-fluid"/>
                <ul class="social-feed">
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
                <div class="site-link">
                     <ul>
                         <li><a href="#">Terms &amp; Conditions</a></li>
                         <li><a href="#">Privacy Policy</a></li>
                         <li><a href="#">Referral Program</a></li>
                         <li><a href="#">Contact</a></li>
                         <li><a href="#">Blog</a></li>
                         <li><a href="#">Career</a></li>
                     </ul>
                </div>
                <p>&copy;Copyright 2021 Mongia Foundation. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!--Footer-->