<main>
    <section class="priority-block pd-t-50 pd-b-80 wow fadeInUp" data-wow-delay="100ms">
        <div class="container text-center" style="margin-top: 80px;">
            <h2>{{ pageData.Title }}</h2>
            
            <div innerHtml="{{ pageData.Page_Content }}"></div>
            <!-- <p class="pd-b-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
                    <div class="card_inner text-center">
                        <img src="assets/images/development-icon.png" alt=""/>
                        <h4>Rural Development</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
                    <div class="card_inner text-center">
                        <img src="assets/images/education-icon.png" alt=""/>
                        <h4>Education</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
                    <div class="card_inner text-center">
                        <img src="assets/images/nutrition-icon.png" alt=""/>
                        <h4>Nutrition</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
                    <div class="card_inner text-center">
                        <img src="assets/images/healthcare-icon.png" alt=""/>
                        <h4>Healthcare</h4>
                    </div>
                </div>
            </div> -->
        </div>
    </section>

    
</main>