<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
            <div class="main-header  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-4">
                            <div class="logo mobile_logo">
                                <a href="#"><img src="assets/images/logo.png" alt="Logo" /></a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7">
                        <div class="menu-main d-flex align-items-center justify-content-end">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav> 
                                    <ul id="navigation">  
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">About</a>
                                            <ul class="submenu">
                                                <li><a href="#">From the Chairman</a></li>
                                                <li><a href="#">Who We Are</a></li>
                                                <li><a href="#">Core Values</a></li>
                                                <li><a href="#">Our Approach</a></li>
                                                <li><a href="#">Our Board</a></li>
                                                <li><a href="#">Our Team</a></li>
                                                <li><a href="#">Partners</a></li>
                                                <li><a href="#">Testimonials</a></li>
                                                <li><a href="#">Financials</a></li>
                                             </ul>
                                        </li>
                                        <li><a href="#">Our Work</a>
                                             <ul class="submenu">
                                                <li><a href="#">Santushti</a></li>
                                                <li><a href="#">Health</a></li>
                                                <li><a href="#">Education</a></li>
                                                <li><a href="#">Livelihood</a></li>
                                                <li><a href="#">Social Upliftment</a></li>
                                                <li><a href="#">Future Plans</a></li>
                                             </ul>   
                                        </li>
                                        <!-- <li><a href="#">Innovations</a></li>-->
                                        <li><a href="#">Get Involved</a>
                                            <ul class="submenu">
                                                <li><a href="#">Individuals</a></li>
                                                <li><a href="#">Corporate</a></li>
                                                <li><a href="#">Institutions</a></li>
                                                <li><a href="#">Resources</a></li>
                                             </ul>
                                        </li> 
                                        <li><a href="#">Media</a>
                                            <ul class="submenu">
                                                <li><a href="#">Press</a></li>
                                                <li><a href="#">Events</a></li>
                                                <li><a href="#">Photo Gallery</a></li>
                                                <li><a href="#">Video Gallery</a></li>
                                             </ul>
                                         </li>
                                          <li><a href="#">Blog</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- <div class="header-right-btn f-right d-none d-lg-block">
                                <a href="contact.html" class="btn header-btn">Contact Us </a>
                            </div> -->
                        </div>
                        </div>   
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <ul class="social_feeds">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                        </div>

                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none">
                                <select id="dynamic_select">
                                    <option value="" selected>Select Menu Option</option>
                                    <option value="#">Home</option>
                                    <option value="#">About</option>
                                    <option value="#">Our Work</option>
                                    <option value="#">Get Involvement</option>
                                    <option value="#">Media</option>
                                    <option value="#">Blog</option>
                                    <option value="#">Contact</option>
                                  </select>
                            </div> 
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center pt-50">
                        <h2>About us</h2>
                        <p>Expanding new horizons with new spirits.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main> 