
    <main>
        <!-- slider Area Start-->
        <app-banner></app-banner>
        <!-- slider Area End-->

        <!--Donation Statistics-->
        <app-statistics></app-statistics>
    <!--Donation Statistics-->

    <!--Welcome Mongia-->
    <section class="welcome-block pd-b-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-6 pd-t-80 wow fadeInLeft" data-wow-delay="200ms">
                    <h4>Raise your hand</h4>
                     <h1>Welcome to<br> <span>Mongia Foundation</span></h1>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                     <a href="#" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Know More</a>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeInRight" data-wow-delay="200ms">
                    <div class="xs-feature-image">
                        <img src="assets/images/feature_1.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 wow fadeInRight" data-wow-delay="200ms">
                    <div class="xs-feature-image">
                        <img src="assets/images/feature_2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Welcome Mongia-->

    <!--Events-->
    <section class="events-block">
        <div class="overlayer"></div>
        <div class="container">
            <div class="row pd-t-80 pd-b-80">
                <div class="col-lg-8 col-md-12 col-xs-12">
                    <h4>Watch Our Upcoming Events</h4>
                    <h2>Supplying Pure Drinking <br> Water to Childrens</h2>
                    <a href="#" class="link-events">View All Events <i class="fa fa-long-arrow-right" aria-hidden="true"></i>                        </a>
                </div>
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="play-btn-div"><a href="#videoModal" data-toggle="modal" data-target="#videoModal" class="play_btn"><i class="fa fa-play"></i></a></div>
                </div>
            </div>
        </div>
        <div class="over_layer"></div>
    </section>
    <!--Events-->

    <!--CAll or Email-->
    <section class="call">
        <div class="container">
            <div class="pd-t-50 pd-b-50 text-center">
                <h3>Call Us +(00) 123 456 789 or Email <br>
                    <span>info@yourmail.com</span></h3>
                    <p>Phasellus et diam nec massa lobortis venenatis. Nullam varius enim at eros ullamcorper 
                        semper. Sed diam metus, facilisis eu.</p>
                     <a href="#donateModal" data-toggle="modal" data-target="#donateModal" class="btn hero-btn">Donate Today</a>   
            </div>
        </div>
    </section>
    <!--CAll or Email-->


    <!--Gallery-->
    <app-gallery></app-gallery>
    <!--Gallery-->

    <!--Top Priorities-->

    <section class="priority-block pd-t-50 pd-b-80 wow fadeInUp" data-wow-delay="100ms">
        <div class="container text-center">
            <h2>Our Top <span>Priorities</span></h2>
            <p class="pd-b-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
                    <div class="card_inner text-center magenta">
                        <img src="assets/images/development-icon.png" alt=""/>
                        <h4>Rural Development</h4>
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
                    <div class="card_inner text-center blue">
                        <img src="assets/images/education-icon.png" alt=""/>
                        <h4>Education</h4>
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
                    <div class="card_inner text-center magenta">
                        <img src="assets/images/nutrition-icon.png" alt=""/>
                        <h4>Nutrition</h4>
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xs-12 col-sm-12">
                    <div class="card_inner text-center blue">
                        <img src="assets/images/healthcare-icon.png" alt=""/>
                        <h4>Healthcare</h4>
                        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Top Priorities-->

    <!--Volunteer-->

    <section class="volunteer-panel wow fadeInUp" data-wow-delay="100ms">
        <div class="container text-center pd-t-80 pd-b-80">
            <div class="row">
                <h2>Ready to become a Volunteer ?</h2>
                <p>Phasellus et diam nec massa lobortis venenatis. Nullam varius enim at eros ullamcorper semper.</p>
            </div>
            <div class="row">
                <a href="#volunteerModal" data-toggle="modal" data-target="#volunteerModal" class="join-now-btn">Join Now</a>
            </div>
            <div class="row status-row">
                 <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="volunteer_blocks-tab pd-t-30 pd-b-30 mr-b-20">
                     <img src="assets/images/fund.png" alt="" />
                     <h3>$39,000</h3>
                     <span>Fund Raised</span>
                    </div> 
                 </div>
                 <div class="col-md-3 col-lg-3 col-sm-12">
                    <div class="volunteer_blocks-tab pd-t-30 pd-b-30 mr-b-20">  
                    <img src="assets/images/goal.png" alt="" />
                    <h3>$80,000</h3>
                    <span>This Year Goal</span>
                   </div> 
                 </div>
                 <div class="col-md-3 col-lg-3 col-sm-12">
                   <div class="volunteer_blocks-tab pd-t-30 pd-b-30 mr-b-20">  
                    <img src="assets/images/volunteer.png" alt="" />
                    <h3>5,800</h3>
                    <span>Volunteers</span>
                   </div> 
                 </div>
            </div>
        </div>
    </section>
    
    <!--Volunteer-->

    <app-volunteers></app-volunteers>

    <!--Our Volunteers-->
    
    <!--Reviews-->

    <app-testimonials></app-testimonials>

    <!--Reviews-->

    <!--Clients-->
  
    <section class="client-panel mr-t-50 mt-b-50 wow fadeInRight" id="client-panel"  data-wow-delay="200ms">
        <div class="container">
            <div class="row justify-content-center">
                <h2 class="pd-b-50">Featured <span>Clients</span></h2>
                <div class="owl-carousel owl-theme mt-b-50">
                    <div class="item">
                        <img src="assets/images/client-1.png" alt="Client Image" class="img-fluid"/>
                    </div>
                    <div class="item">
                        <img src="assets/images/client-2.png" alt="Client Image" class="img-fluid"/>
                    </div>
                    <div class="item">
                        <img src="assets/images/client-3.png" alt="Client Image" class="img-fluid"/>
                    </div>
                    <div class="item">
                        <img src="assets/images/client-4.png" alt="Client Image" class="img-fluid"/>
                    </div>
                    <div class="item">
                        <img src="assets/images/client-5.png" alt="Client Image" class="img-fluid"/>
                    </div>
                    <div class="item">
                        <img src="assets/images/client-1.png" alt="Client Image" class="img-fluid"/>
                    </div>
                    <div class="item">
                        <img src="assets/images/client-2.png" alt="Client Image" class="img-fluid"/>
                    </div>
                    <div class="item">
                        <img src="assets/images/client-3.png" alt="Client Image" class="img-fluid"/>
                    </div>
                    <div class="item">
                        <img src="assets/images/client-4.png" alt="Client Image" class="img-fluid"/>
                    </div>
                    <div class="item">
                        <img src="assets/images/client-5.png" alt="Client Image" class="img-fluid"/>
                    </div>
                </div>        
            </div>    
        </div>
    </section>
    <!--Clients-->

    <!--Newsletter-->

    <section class="newsletter-block pd-t-50 pd-b-50"> 
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <h3>Subscribe Our Newsletter</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli Maecenas.</p>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12">
                    <form action="" method="POST">
                        <div class="form-group">
                            <input type="text" name="email" placeholder="Your Email" class="form-control">
                            <input type="button" value="Subscribe Now" class="btn btn-subscribe-now">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!--Newsletter-->

    

    </main> 
        <!-- slider Area End-->

        <!--Modal-->
        
        <div class="modal fade" id="videoModal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content"> 
                <!-- Modal Header -->
                <div class="modal-header"> 
                  <!-- <h4 class="modal-title">Learning Management Software Demo</h4> -->
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                  <iframe id="charityVideo" width="100%" height="500" src="https://www.youtube.com/embed/67Igz4Zlqc8?autoplay=1" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
          

          <app-donate></app-donate>


          <div class="modal fade" id="volunteerModal">
            <div class="modal-dialog">
              <div class="modal-content"> 
                <!-- Modal Header -->
                <div class="modal-header"> 
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="regForm ftco-animate fadeInUp ftco-animated">
						<h3 class="text-center">Become a Volunteer</h3>
                        <p class="text-center">Please fill in this form and we will contact you.</p>
                        <form class="bg-light pd-l-0 pd-r-0 contact-form" [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="Name" id="your_name" placeholder="Your Name*" required="">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" formControlName="Mobile" id="mobile" placeholder="Mobile Number*" required="">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" formControlName="Email" id="email" placeholder="Email ID*" required="">
                            </div>
                            <div class="form-group"> 
                                <textarea id="volunteer-message" formControlName="Subject" cols="30" rows="7" class="form-control" placeholder="Write in brief – why do you want to become a volunteer with us*" style="height: 120px !important;"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="Pan" id="pan" placeholder="PAN No*" required="">
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" id="submit-btn" value="Submit" class="btn btn-secondary py-3 px-5">
                            </div>
                        </form>
                        <p><small>* All Fields are mandatory<br><br>
                            *We do not share your contact information with any 3 rd party or internal stakeholder for any reason whatsoever. However,
                            our organisation executive responsible for responding to you will have access to your contact information only for the
                            intended purpose of contacting you and also for sending newsletters to keep you informed about the various projects we
                            are doing.<br><br>
                            Read our <a href="#"><span>Privacy Policy</span></a>
                        </small></p>
				   </div>
                </div>
              </div>
            </div>
          </div>



          <div class="modal fade" id="campaignModal">
            <div class="modal-dialog">
              <div class="modal-content"> 
                <!-- Modal Header -->
                <div class="modal-header"> 
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="regForm ftco-animate fadeInUp ftco-animated">
						<h3 class="text-center">Start a Campaign</h3>
                        <p class="text-center">Please fill in this form and we will contact you.</p>
                        <form action="" method="POST" class="bg-light pd-l-0 pd-r-0 contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="your_name" name="your name" placeholder="Your Name*" required="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number*" required="">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email ID*" required="">
                        </div>
                        <div class="form-group"> 
                            <textarea name="message" id="volunteer-message" cols="30" rows="7" class="form-control" placeholder="Why do you want to start a campaign and with which cause do you empathize?*" style="height: 120px !important;"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" id="submit-btn" value="Submit" class="btn btn-secondary py-3 px-5">
                        </div>
                        </form>
                    <p><small>* All Fields are mandatory<br><br>
                        **We do not share your contact information with any 3 rd party or internal stakeholder for any reason whatsoever. However,
                        our organisation executive responsible for responding to you will have access to your contact information only for the
                        intended purpose of contacting you and also for sending newsletters to keep you informed about the various projects we
                        are doing.<br><br>
                        Read our <a href="#"><span>Privacy Policy</span></a>
                    </small></p>
				   </div>
                </div>
              </div>
            </div>
          </div>



          <div class="modal fade" id="contactModal">
            <div class="modal-dialog">
              <div class="modal-content"> 
                <!-- Modal Header -->
                <div class="modal-header"> 
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="regForm ftco-animate fadeInUp ftco-animated">
						<h3 class="text-center">Contact Us</h3>
                        <p class="text-center">Please fill in this form and we will contact you.</p>
                        <form action="" method="POST" class="bg-light pd-l-0 pd-r-0 contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" id="your_name" name="your name" placeholder="Your Name*" required="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number*" required="">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email ID*" required="">
                        </div>
                        <div class="form-group"> 
                            <textarea name="message" id="volunteer-message" cols="30" rows="7" class="form-control" placeholder="Write in brief why do you want to contact us*" style="height: 120px !important;"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" id="submit-btn" value="Submit" class="btn btn-secondary py-3 px-5">
                        </div>
                        </form>
                    <p><small>* All Fields are mandatory<br><br>
                        **We do not share your contact information with any 3 rd party or internal stakeholder for any reason whatsoever. However,
                        our organisation executive/s responsible for responding to you will have access to your contact information only for the
                        intended purpose of contacting you.<br><br>
                        Read our <a href="#"><span>Privacy Policy</span></a>
                    </small></p>
				   </div>
                </div>
              </div>
            </div>
          </div>